@media (max-width: 1300px){
    .top__image{
        opacity: 0.35;
    }
    .slider__item{
        margin-left: 50px;
    }
}


@media (max-width: 1169px){
    .plan__col-item--three{
        margin-top: 20px;
      }

}
@media (max-width: 1100px){
    .header__logo{
        display: none;
    }
    .header__menu{
        margin-left: 20px;
    }
    .features__inner{
        flex-wrap: wrap;

    }
    .features__img{
        margin: 0 auto;
    }
}
@media (max-width: 915px){
    .customers{
        display: none;
    }
    .footer__item-logo{
        width: 100%;
    }
    .footer__text{
        width: 100%;
    }
}
@media (max-width: 839px){
    .plan__col-item--second{
        margin-top: 20px;
      }
}
@media (max-width: 813px){
    .subscribe__inner .top__btn.top__btn-sub{
        margin-right: 10px;
    }
}
@media (max-width: 760px){
    .header__menu{
        text-align: center;
        width: 100%;
        display: none; 
        left: 0;
        right: 0;
        position: absolute; 
        z-index: 1;
        top: 65px;  
        background-color: #F6F6F6;  
        margin: 0;
        li{
            display:block;
            text-align: center;
            & + li{
                margin-left: 0;
            }
            a{
                font-size: 25px;
                margin-bottom: 30px;
            }
        }
    }
    .burger-menu{
        display: block;
    }
    .subscribe__inner{
        margin-bottom: 130px;
    }
    .subscribe__inner .top__btn.top__btn-sub{
        margin: 0 auto 40px;
        display: block;
        width: 100%;
        text-align: center;
    }
}
@media (max-width: 700px){
    .icon__text{
        margin-left: 10px;
        
    }
    .icon__item{
        padding-left: 10px;
        padding-right: 10px;
    }

}
@media (max-width: 660px){
    .top__btn{
        text-align: center;
        }
    }
    
@media (max-width: 580px){
    .features__img{
        img{
             width: 100%;
             display: block;
        }
    }
    .plan__col-item--second{
        margin: 20px 0 0;
    }
    .icon__text{
        text-align: center;
        margin: 0 auto;
    }
}
@media (max-width: 560px){
    .top__title{
        font-size: 40px;
    }
    .features__title{
        margin-top: 40px;
        text-align: center;
    }
    .plan__title{
        margin-top: 40px;
    }
    .plan__col{
        margin-bottom: 40px;
    }
}

@media (max-width: 458px){
    .subscribe__inner{
        height: 400px;
    }
    .subscribe__text{
        text-align: center;
        margin-left: 0;
    }
}
@media (max-width: 450px){
       .top__title{
           font-size: 30px;
       }
       .features__title{
           font-size: 30px;
       }
}
@media (max-width: 400px){
    .header__btn-in{
        a{
            font-size: 14px;
            right: 150px;
            top: 12px;
        }
    }
    .plan__col-paragraph{
        li{
            font-size: 11px;
        }
    }
    .icon__title{
        font-size: 20px;
    }
    .icon__text{
        p{
            font-size: 14px;
        }
    }
    .header__btn-up{
        padding: 10px 33px;
        a{
            font-size: 14px;

        }
    }
    .footer__item{
        margin-right: 10px;
        margin-bottom: 20px;
    }
}
@media (max-width: 350px){
    .top__title{
        font-size: 28px;
    }
}















@media (min-width: 760px){
    .header__menu{
        display: block;
    }
}